.container.inputs {
    border:2px solid #ccc;
    width:300px;
    height: 100px;
    overflow-y: scroll;
    text-align: left;
}
.container.inputs {
    padding: 10px;
}
.container.inputs label{
    margin-left: 10px;
    display: inline-block;
    line-height: 16px;
}
.container.inputs label:first-child {
    margin-left: 4px;
}
.other-filters{
    padding: 0 14px;
}
.generate-document{
    font-size: 13px;
}